<section class="content" *ngIf="(pagination$ | async) as pagination">
<header class="header">

<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
    <input type="text" class="p-inputtext-lg" pInputText
           (input)="dt.filter($event.target.value, 'name', 'contains')"
           [value]="dt.filters['name']?.value" placeholder="Search"/>
</span>
</header>



  <p-table #dt [value]="pagination.data" [(selection)]="pagination.data" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true"
           [totalRecords]="pagination.total"
           [rowsPerPageOptions]="[10,25,50]"
           [paginatorPosition]="'top'"
           [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0" [globalFilterFields]="['id','name','email','address']">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="p-selectable-row">

        <td>
          {{customer.id}}
        </td>
        <td>
          <span class="image-text">{{customer.name}}</span>
        </td>
        <td>
          <span class="image-text">{{customer.email}}</span>
        </td>
        <td>
          {{customer.address}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</section>

